<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a routerlink="/" class="logo-and-title" href="/"
        ><clr-icon shape="vm-bug"></clr-icon
        ><span class="title">Akita shopping cart</span></a
      >
    </div>
    <div class="header-actions">
      <a href="..." class="nav-link nav-icon-text">
        <clr-icon shape="shopping-cart"></clr-icon>
        <span class="nav-text">Cart</span>
      </a>
    </div>
  </header>
  <nav class="subnav">
    ...
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
